.data-user-order{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.data-user-order p{
  padding: 10px;
  background-color: rgba(187, 187, 187, 0.13);
  border-radius: 5px;
}

.data-user-order span{
    font-weight:bold;
  }
  


.scrollable-container {
    max-height: 130px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.details-order {
    margin: 10px;
    background-color: rgba(187, 187, 187, 0.13);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px solid #ffffff;

}

.details-order:hover {
    cursor: pointer;
}

.container-img-details-order {
    width: 50px;
    height: 50px;

}

.container-img-details-order img {
    width: auto;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

.current-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.current-status p {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border-radius: 5px
}

.container-select-status {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-select-status select {
    width: 100%;
    height: 20px;
    text-align: center;
}

.container-select-status button {
    width: 100%;
    height: 25px;
    text-align: center;
}