
.team-wrapper-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-title-home{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title-home{
    margin-top: 35px;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}
.subtitle-home{
    text-align: center;
    width: 530px;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.7;
}

.member-wrapper-home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px 180px;
}
.member-card-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}