* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-forgot-password {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-h1 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 350px;
    width: 40%;
    padding: 4% 8% 5% 10%;
    color: 000000;
}

.line-forgot-password {
    height: 350px;
    width: 2px;
    background-color: #608d1836;
}


.container-h1 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}




.container-form-forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 350px;
    width: 40%;
    padding: 5%;


}

.title-forgot-password {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #618D18;
    font-size: 28px;

}

.form-forgot-password label {
    display: block;
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 14px;
}

.form-forgot-password input {
    border-radius: 5px;
    border: none;
    padding-left: 2%;
    height: 35px;
    width: 80%;
    display: block;
    background-color: #FAFDFF;
    border: 1px solid #E8E8E8;

}




.btn-form-forgot-password {
    margin-top: 25px;
    margin-left: 20px;
}


.container-btn-form-forgot-password {
    display: flex;
}

.container-form-forgot-password button {
    width: 125px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #608d18e7;
    color: #ffffff;
    font-size: 16px;
    margin: 20px;
}

.p-error {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.container-btn-form-forgot-password a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 31px;
    background-color: rgb(221, 53, 53);
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 16px;
    margin: 20px;
}


.container-form-forgot-password button:hover {
    background-color: #608d18ad;
    color: #ffffff;
    font-size: 17px;
}

.container-btn-form-forgot-password a:hover {
    background-color: red;
    color: #ffffff;
    font-size: 17px;
}



.container-form-forgot-password button:active {
    background-color: #ffffff;
    color: #608d18ad;
    border: 1px solid #618D18;
}

.container-btn-form-forgot-password a:active {
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
}

.menssage-forgot-password {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.container-title-verification {
    display: flex;
    justify-content: center;
    width: 440px;
    height: 100px;
}

.title-verification-forgot-password {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    color: #618D18;
}






@media (max-width:1200px) {


    .container-h1 {
        padding: 4% 2% 5% 4%;
    }

    .line-forgot-password {
        width: 1px;
    }


    .container-h1 h1 {
        font-size: 25px;
    }

    .form-forgot-password input {
        width: 100%;
        margin-bottom: 20px;
    }


    .container-btn-form-forgot-password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .container-btn-form-forgot-password button,
    .container-btn-form-forgot-password a {
        width: 80%;
        margin: 10px 20px;
    }

    .container-title-verification {
        width:auto;
        height: auto;
    }
}




@media (max-width:800px) {

    .container-forgot-password {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .line-forgot-password {
        height: 1px;
        width: 70%;
        background-color: #608d184b;
    }

    .container-h1{
        width: 80%;
        height: auto;
    }

    .container-h1 h1{
        font-size: 25px;
    }

    .container-h1 .menssage-forgot-password{
        font-size: 20px;
    }

    .container-form-forgot-password{
        width: 70%;
    }

    .container-btn-form-forgot-password {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    
    .container-btn-form-forgot-password button,
    .container-btn-form-forgot-password a {
        width: 60%;
    }

    .container-btn-form-forgot-password a {
        padding: 8px 20px;
    }
    .title-verification-forgot-password {
        font-size: 20px;
        margin-right: 10px;
    }


}

@media (max-width:550px) {

    .container-form-forgot-password form {
            margin-left:10px;
            margin-right: 10px;
    }

    .line-forgot-password {
        width: 90%;
    }

    
    .container-forgot-password {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container-h1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
    }

    .container-h1 h1{
        font-size: 25px;
        width: 100%;
    }

    .container-h1 .menssage-forgot-password{
        font-size: 17px;
    }

    .container-form-forgot-password{
        width: 90%;
    }

    .container-btn-form-forgot-password {
        flex-direction: column;
    }
    
    .container-btn-form-forgot-password button,
    .container-btn-form-forgot-password a {
        width: 70%;
    }

    .container-btn-form-forgot-password a {
        padding: 8px 20px;
    } 
}