* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-reset-password {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}


.line {
    height: 350px;
    width: 2px;
    background-color: #608d1836;
}



.container-form-reset-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 350px;
    width: 40%;
    padding: 5%;


}


.form-reset-password label {
    display: block;
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 14px;
}

.form-reset-password input {
    border-radius: 5px;
    border: none;
    padding-left: 2%;
    height: 35px;
    width: 80%;
    display: block;
    background-color: #FAFDFF;
    border: 1px solid #E8E8E8;

}




.btn-form-reset-password {
    margin-top: 25px;
    margin-left: 20px;
}


.container-form-reset-password button {
    width: 125px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #608d18e7;
    color: #ffffff;
    font-size: 16px;
    margin: 20px;
}



.container-form-reset-password  button:hover {
    background-color: #608d18ad;
    color: #ffffff;
    font-size: 17px;
}

.container-form-reset-password #btn-cancel-reset-password:hover {
    background-color: rgba(255, 0, 0, 0.733);
    color: #ffffff;
    font-size: 17px;
}

.container-form-reset-password  button:active {
    background-color: #ffffff;
    color: #608d18ad;
    border: 1px solid #618D18;
}

.container-form-reset-password #btn-cancel-reset-password:active {
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
}



.p-error {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#btn-cancel-reset-password {
    background-color: rgb(221, 53, 53);
}




@media (max-width:1200px) {


    .container-h1 {
        padding: 4% 2% 5% 4%;
    }

    .line-forgot-password {
        width: 1px;
    }


    .container-h1 h1 {
        font-size: 25px;
    }


    .container-form-reset-password .title-forgot-password {
        width: 100%;
        font-size: 22px;
    }

    .container-form-reset-password .form-reset-password input {
        width: 100%;
    }

    .container-btns-resetpassword {
        display: flex;

    }

    .container-btns-resetpassword .btn-form-reset-password {
        width: 50%;
        margin: 20px 20px 20px 0px;
    }

    .container-btns-resetpassword a {
        width: 50%;
    }

    .container-btns-resetpassword button {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

}


@media (max-width:800px) {

    .container-reset-password {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container-form-reset-password {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}