.div-card-creation {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.div-card-creation fieldset {
    border: none; /* Elimina el borde del fieldset */
    margin: 0;
    padding: 0;
}

.div-card-creation fieldset div {
    display: inline-block; /* Coloca los elementos en línea */
    margin-right: 20px; /* Espacio entre los botones de opción */
}

.div-card-creation input[type="radio"] {
    vertical-align: middle; /* Alinea los botones de opción verticalmente */
    margin-right: 5px; /* Espacio entre el botón y la etiqueta */
}

.div-card-creation label {
    color: #000; /* Color del texto */
    margin-bottom: 5px;
    display: block;
}

.div-card-creation input[type="text"],
.div-card-creation input[type="number"],
.div-card-creation input[type="radio"],
.div-card-creation textarea {
    background-color: #f8f9fa; /* Fondo de los campos de entrada */
    color: #000; /* Color del texto */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.div-card-creation input[type="radio"]:checked + label {
    color: #000; /* Cambio de color de texto para radio button seleccionado */
}



.div-card-creation input[type="radio"] + label {
    vertical-align: middle; /* Alinea las etiquetas de opción verticalmente */
    margin-bottom: 0; /* Elimina el espacio debajo de las etiquetas */
}


.div-card-creation .container-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.div-card-creation .container-btns button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #a9ce6c; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
}

.div-card-creation .container-btns button:hover {
    background-color: #8dbf3a; /* Color de fondo del botón al pasar el ratón */
}
