/* body {
    overflow-x: hidden;
} */

.div-card-update {
    width: 320px;
    margin: 15px auto;
    padding: 20px;
    background: #fff;
    border: 2px solid #42424225;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.div-card-update:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-color: #a9ce6c;
}

.form-update label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin-bottom: 15px;
    display: block;
}

.container-btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-actualizar,
.btn-eliminar {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(140, 133, 133);
    min-width: 100px;
    padding: 10px 15px;
    margin: 0px 5px;
    font-size: 15px;
    color: #555555;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-actualizar:hover,
.btn-eliminar:hover {
    background-color: rgba(42, 42, 42, 0.651);
    color: #D0EDA1;
    border-color: #D0EDA1;
}

.input-cardUpdate-product {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}