/* Estilo general de la tarjeta */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  height: 40%;
  margin: 20px;
  display: flex;
}

.padre{ 
  display: flex;
  margin: 3%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
/* Imagen del producto */
.product-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}

/* Contenedor del cuerpo de la tarjeta */
.card-body {
  padding: 15px;
}

/* Título del producto */
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Precio del producto */
.card-text {
  font-size: 16px;
  margin: 10px 0;
}

/* Botón de compra */
.buy-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3483fa;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #2d6ccf;
}