.container-btn-crear {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-crear {
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #a9ce6c;
  color: #fff;
  font-size: 20px;
}

.btn-crear:hover {
  background-color: #8dbf3a;
}
