.address-form-container { 
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f200;
    border: 1px solid #dddddd56;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
    width: 500px;
}

.address-form-container h2{
    padding: 15px 20px 25px 10px;
 }

.address-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 5px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .address-form-container {
        padding: 15px;
    }
}
