* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 570px;
}

.container-title-register {
    width: 420px;
}

.container-form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    width: 420px;
    padding: 5%;
}



.title-register {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #618D18;
    font-size: 28px;

}

.form-register label {
    display: block;
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 14px;
}

.form-register input {
    border-radius: 5px;
    border: none;
    padding-left: 2%;
    height: 35px;
    display: block;
    background-color: #FAFDFF;
    border: 1px solid #E8E8E8;

}

#email-register,
#password-register,
#address {
    width: 415px;
}


#name,
#lastname,
#phoneNumber,
#identificationNumber {
    width: 200px;
}


.doble-inputs {
    width: 415px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.p-error {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.form-register button {
    width: 125px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #608d18e7;
    color: #ffffff;
    font-size: 16px;
    margin: 20px
}

.buttons-register {
    display: flex;
    justify-content: center;
    width: 100%;
}


.form-register label span {
    color: rgba(0, 0, 0, 0.664);
    margin-left: 5px;
}


.form-register #btn-cancel-register {
    background-color: red;
}



.btn-form-register:hover {
    background-color: #608d18ad;
    color: #ffffff;
    font-size: 17px;
}

#btn-cancel-register:hover {
    background-color: rgba(255, 0, 0, 0.719);
    color: #ffffff;
    font-size: 17px;
}



.btn-form-register:active {
    background-color: #ffffff;
    color: #608d18ad;
    border: 1px solid #618D18;
}

#btn-cancel-register:active {
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
}


@media (max-width: 500px) {

    #email-register,
    #password-register,
    #address {
        width: 90%;
    }

    #name,
    #lastname,
    #phoneNumber,
    #identificationNumber {
        width: 90%;
    }


    .form-register .doble-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        flex-direction: column;
    }

    .container-register {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .container-title-register {
        width: 100%;
    }

    .container-title-register .title-register {
        padding-left: 4%;
    }


    .container-form-register {
        width: 90%;
        display: flex;
        padding: 0;
        padding-top: 30px;

    }

    .container-form-register .form-register {
        padding-left: 5%;
        width: 100%;
    }


    .form-register button {
        margin: 20px 10px;
    }


    .buttons-register {
        width: 90%;
    }

    .buttons-register #btn-cancel-register{
        width: 100px;
        
    }

    .buttons-register .btn-form-register{
        width: 100px;
    }

    .form-register #btn-cancel-register {
        background-color: red;
    }

    .btn-cancel-register {
        background-color: rgb(221, 53, 53);
    }
}

