.foot {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
    margin-top:150px;
}

.foot > ul {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.foot > ul > li {
    padding-left: 10px;
    font-size: 15px;
    color: #929292;
    font-weight: 600;
    
}

.foot-col-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot-col-1 > p {
    font-size: 14px;
    color: #444444;
    font-weight: 300;
    margin-block-end: 10px;
}

.green-banner {
    background-color: #D0EDA1;
    color: #D0EDA1;
    width: 100%;
    height: 100px;
}

@media (min-width: 768px) {
    .foot {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (min-width: 992px) {
    .foot {
        grid-template-columns: repeat(3, 1fr); 
    }
}