
.contact-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}
.contact-subtitle{
    text-align: center;
    width: 530px;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.7;
}

.contact-form{
    width: 508px;
    height: 530px;
    background-color: #F1FCE1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-top: 100px;
    border-radius: 10px;
}
label{
    margin-top: 30px;
}
.form-inputs{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #507810;
    background-color: transparent;
}
.textarea-form {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #507810;
    background-color: transparent;
    resize: none;
}
.button-wrapper{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-form{
    background-color: #507810;
    color: #fff;
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
}