.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .shopTitle {
    position: fixed; 
    top: 0; /* Fija el título en la parte superior */
    width: 120%;
    height: 150px;
    background: #D0EDA1;
    padding: 20px; 
    z-index: 1; /* Asegura que el título esté por encima del contenido */
  }

  .sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 60px); /* Establece la altura máxima del sidebar */
    overflow-y: auto; /* Añade scroll si es necesario */
    padding-right: 20px;
    width: 250px; 
  }
  
  
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center; 
  }
  
  .filtersContainer {
    position: fixed;
    top: 210px; 
    left: 30px;
    
  }
  .conditionFilter button,
  .priceRange button {
    background: #D0EDA1;
    width: 225px;
  }
  
  .conditionFilter {
    margin-top: 30px; 
  }
  .conditionFilterContent button.active {
    background-color: #7c7c7c; 
    color: #D0EDA1; 
  }
  
  .priceRange button:hover, 
  .priceRange input:hover,
  .conditionFilter button:hover{
    border-color: #040201;
  }

  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #edebeb; 
    padding: 10px; 
  }
  
  .searchButton {
    border-radius: 25px;
    width: 380px;
    height: 0px;
    margin: 10px auto; /* Ajusta el margen para centrar horizontalmente */
    display: block; /* Cambia a bloque para ocupar el ancho completo del contenedor */
    border: 1px solid #cdc7c7;
    padding: 15px;
    background-color: #eae9e9;
    cursor: pointer;
    display: inline;
    justify-content: center;
    align-items: center;
  }

  
  
  .priceRangeContent,
  .conditionFilterContent {
    display: flex;
    flex-direction: column;
  }
  
  
  .priceRangeContent input,
  .conditionFilterContent button {
    border-radius: 5px; 
    background-color: #efeeee;
    border-color:#cfcfcf;
    margin-top: 4px;
    margin-bottom: 0px; 
  }
  

  
  .productsContainer {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    max-width: 1000px; /* Establece un ancho máximo para evitar que se expanda demasiado */
    padding-top: 70px;
  }
  
  .product {
    flex-wrap: wrap;
    border-radius: 15px;
    width: 250px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #a8a8a8;
    padding: 20px;
  }
  
  .product:hover {
    transition: 0.1s ease-in;
    cursor: pointer;
    transform: scale(1.02);
    border-color: #a9ce6c;
  
  }
  
  .addToCartBttn {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(140, 133, 133);
    min-width: 70px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 7px;
  }
  
  .addToCartBttn:hover{
    background-color: rgb(42, 42, 42);
    color: #D0EDA1;
    cursor: pointer;
    border-color: #D0EDA1;
  }
  
  