.product-update {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    width: 100%;
    height: 500px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

}


.product-update form {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 60%;
    height: 90%;
    background-color: #ffff;
    gap: 20px;
}

.fotosUpdate-producto {
    width: 40%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.inputfile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 250px;
    gap: 10px;
    /* background-color: antiquewhite; */
}

.foto-principal {
    margin: 10px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    /* background-color: red; */
}

.foto-principal img {
    width: 200px;
    height: auto;
}

.inputFile-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 167, 167);
    width: 150px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;

}

.inputFile-boton p {
    color: #ffff;
}

.inputFile-boton input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

}




.container-photos-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    gap: 5px;


}

.container-photo {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    gap: 10px;
    /* background-color: aliceblue; */
}


.container-photo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

.btn-eliminar-foto {
    color: rgba(255, 0, 0, 0.726);
    font-size: 25px;
    cursor: pointer;

}


.form-datos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60%;
    gap: 10px;
}

.form-datos textarea {
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding: 6px;
}



.form-datos input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding-left: 5px;
}

.form-datos label {
    margin-right: 5px;
}

.form-datos select {
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding-left: 5px;
}

.doble-inputs-update {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.doble-inputs-update input {
    margin-top: 10px;
}














/* ----------------------------------------- */
.ver-producto-p {
    padding: 20px;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    gap: 20px;

}


.foto-producto {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.foto-producto img {
    width: 70px;
    height: auto;
}

.todas-fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.todas-fotos img {
    cursor: pointer;
}


.fotoprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fotoprincipal img {
    width: 300px;
    height: auto;
}



.box2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.123);
    width: 100%;
    height: 100%;
}



.contenido .contenido-caracteristicas {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: rgba(0, 0, 0, 0.411);
    margin-bottom: 10px;
    font-size: 14px;
}

.contenido h3 {
    font-size: 35px;
    margin-bottom: 5px;
}

.hr-line {
    border-color: rgba(0, 0, 0, 0.082);
}

.descipcion-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.cantidad-producto {
    margin: 30px 0px;
    font-size: 14px;
}

.cantidad-producto p {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.699);
}


.precio-producto {
    font-size: 35px;
    margin: 30px 10px;
}


.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.botones button {
    width: 50%;
    height: 100%;
    background-color: rgb(92, 92, 92);
    border: none;
    border-radius: 5px;
    color: #ffff;

}


/* --------------------------------------------- */